body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    margin-bottom: 50px;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #ddd;
}

.content {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.content h2 {
    color: #333;
}
.content p {
    color: #666;
    line-height: 1.6;
}

.achievements {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.achievements h3 {
    color: #333;
}
.achievements ul {
    list-style-type: disc;
    padding-left: 20px;
}
.achievements ul li {
    color: #666;
    margin-bottom: 10px;
    display: block;
}