<!DOCTYPE html>
<html>
<head>
    <title>Добавить встречу</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_appointment.css') }}">
</head>
<body>
    <h1>Добавить встречу</h1>
    <form method="POST" action="{{ url_for('add_appointment') }}">
        <label for="patient_id">Идентификатор пациента:</label>
        <input type="number" id="patient_id" name="patient_id" required>
        <br>
        <label for="doctor_id">Идентификатор врача:</label>
        <input type="number" id="doctor_id" name="doctor_id" required>
        <br>
        <label for="date">Дата:</label>
        <input type="datetime-local" id="date" name="date" required>
        <br>
        <input type="submit" value="Добавить встречу">
    </form>
</body>
</html>
