<!DOCTYPE html>
<html>
<head>
    <title>Добавить сотрудника</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='add_employee.css') }}">
</head>
<body>
    <h1>Добавить сотрудника</h1>
    <form method="POST" action="{{ url_for('add_employee') }}">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="position">Позиция:</label>
        <input type="text" id="position" name="position" required>
        <br>
        <input type="submit" value="Добавить сотрудника">
    </form>
</body>
</html>
