<!DOCTYPE html>
<html>
<head>
    <title>Платежи</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

</head>
<body>
    <h1>Платежи</h1>
    <a href="{{ url_for('add_payment') }}">Добавить платеж</a>
    <table>
        <tr>
            <th>Пациент</th>
            <th>Количество</th>
            <th>Дата</th>
        </tr>
        {% for payment in payments %}
        <tr>
            <td>{{ payment.patient_id }}</td>
            <td>{{ payment.amount }}</td>
            <td>{{ payment.date }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
